<?xml version="1.0"?>
<!--
/**
 * Correios
 *
 * Correios Shipping Method for Magento 2.
 *
 * @package ImaginationMedia\Correios
 * @author Igor Ludgero Miura <igor@imaginationmedia.com>
 * @author Douglas Ianitsky <ianitsky@gmail.com>
 * @copyright Copyright (c) 2017 Imagination Media (https://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="ImaginationMedia_Correios" setup_version="1.2.6">
        <sequence>
            <Magento_Catalog />
            <Magento_Eav />
            <Magento_Quote />
            <Magento_Sales />
            <Magento_Shipping />
        </sequence>
    </module>
</config>
