.cms-page-view .product-item-info ,
.cms-index-index .product-item-info{
	text-align: center;
	line-height: 1.6rem;
	border-radius: 10px 30px 10px 30px;
	box-shadow: 2px 2px 2px 0px #a24d73;
	padding: 5px;
	margin-bottom: 5px;
}
  .product-item-info.related-available {
	text-align: center;
	line-height: 1.6rem;
	border-radius: 10px 30px 10px 30px;
	box-shadow: 2px 2px 2px 0px #a24d73;
}
.products.products-grid,
.custom-slider {
	position: relative;
}
.extend_1,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	user-select: none;
}
.owl-carousel {
	display: none;
	width: 100%;
	position: relative;
	z-index: 0;
}
.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	animation-name: fadeOut;
}
.owl-carousel .owl-stage {
	position: relative;
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 .owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
}
.owl-carousel-custom-6 .owl-stage-outer {
	border-radius: 10px 30px;
	box-shadow: 2px 2px 2px 0px #a24d73;
	margin-bottom: 7px
}
.owl-carousel-custom-6 {
	padding-bottom: 25px;
}
.owl-carousel-custom-6 .owl-item img {
	margin-top: 10px;
	margin-bottom:5px;
}
.owl-carousel-custom-3 .owl-item img {
	border-radius: 0 0 10px 30px;
	height: 22px;
}
.owl-carousel-custom-3 .owl-stage-outer {
    margin-bottom: 45px;	
    box-shadow: 2px 2px 2px 0px #a24d73;
    border-radius: 0 0 10px 30px;
    margin-top: -5px;
    background: #3f001d; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f001d 0%, #5a032f 42%, #5a032f 42%, #5a032f 50%, #5a032f 58%, #5a032f 58%, #3f001d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3f001d 0%,#5a032f 42%,#5a032f 42%,#5a032f 50%,#5a032f 58%,#5a032f 58%,#3f001d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3f001d 0%,#5a032f 42%,#5a032f 42%,#5a032f 50%,#5a032f 58%,#5a032f 58%,#3f001d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f001d', endColorstr='#3f001d',GradientType=0 ); /* IE6-9 */
}
.owl-carousel-custom-5 .owl-item img {
	border-radius: 10px 30px 0 0;
}
.owl-carousel-custom-5 .owl-stage-outer {
	box-shadow: 2px 2px 2px 0px #a24d73;
	border-radius: 10px 30px 0 0;
}
.owl-carousel-custom-8 .owl-item img {
	border-radius: 10px 30px 0 0;
}
.owl-carousel-custom-8 .owl-stage-outer {
	box-shadow: 2px 2px 2px 0px #a24d73;
	border-radius: 10px 30px 0 0;
}
.owl-carousel-custom-8 .owl-dots {
	margin-top: 25px;
}
.owl-carousel-custom-5 .owl-dots {
	margin-top: 35px;
}
.owl-carousel-custom-7 .owl-item img {
	border-radius: 10px 30px;
	height: 22px;
}
.owl-carousel-custom-7 .owl-stage-outer {
	margin-top: 12px;
	margin-bottom: 2px;
	box-shadow: 2px 2px 2px 0px #a24d73;
	border-radius: 10px 30px;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	user-select: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	transform-style: preserve-3d;
}
.owl-carousel .owl-item .owl-lazy {
	/*opacity: 0;*/
	transition: opacity 400ms ease;
}
.owl-carousel .owl-item .product-item {
	width: 100% !important;
	box-shadow: none;
}
.owl-carousel .owl-grab {
	cursor: move;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #571f38;
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
	transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none;
}
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-refresh .owl-item {
	display: none;
}
.owl-carousel.owl-text-select-on .owl-item {
	user-select: auto;
}
.owl-carousel .banner-item .content_slider {
	position: absolute;
	top: 80%;
	width: 100%;
	z-index: 1;
	color: #fff;
}
.owl-carousel .banner-item .content_slider .banner-title {
	width: 100%;
	color: #fff;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	clear: both;
}
.owl-carousel .banner-item .content_slider .banner-description {
	width: 100%;
	clear: both;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
}
.owl-carousel .banner-item .content_slider .buttons {
	width: 100%;
	clear: both;
	display: inline-block;
	text-align: center;
}
.owl-carousel .banner-item .content_slider .buttons a.action.primary {
	margin: 10px;
	border: #571f38;
	font-size: 0.9rem;
	padding: 0 6px;
	background-image: linear-gradient(bottom, rgb(87,31,56) 0%, rgb(162,77,115) 100%);
	background-image: -o-linear-gradient(bottom, rgb(87,31,56) 0%, rgb(162,77,115) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(87,31,56) 0%, rgb(162,77,115) 100%);
	background-image: -webkit-linear-gradient(bottom, #381323 0%, rgb(162,77,115) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(87,31,56) 0%, rgb(162,77,115) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(87,31,56)),
	color-stop(1, rgb(162,77,115))
	);
	-webkit-border-radius: 10px 30px 10px 30px;
	-moz-border-radius: 10px 30px 10px 30px;
	-o-border-radius: 10px 30px 10px 30px;
	border-radius: 10px 30px 10px 30px;
	-webkit-box-shadow: inset 0 0 0 0 #a24d73, 0px 2px 0px 0px #381323;
	-moz-box-shadow: inset 0 0 0 0 #a24d73, 0px 2px 0px 0px #381323;
	-o-box-shadow: inset 0 0 0 0 #a24d73, 0px 2px 0px 0px #381323;
	box-shadow: inset 0 0 0 0 #a24d73, 0px 2px 0px 0px #381323;
}
  .owl-carousel .banner-item .content_slider .buttons a.action.primary:active {
	margin: 10px;
	font-size: 0.9rem;
	padding: 0 6px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -o-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(162,77,115)),
    color-stop(1, rgb(87,31,56))
);
    -webkit-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    -moz-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    -o-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
}
.owl-carousel .banner-item .content_slider .buttons a.action.primary:focus {
	margin: 10px;
	font-size: 0.9rem;
	padding: 0 6px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -o-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(162,77,115) 0%, rgb(87,31,56) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(162,77,115)),
    color-stop(1, rgb(87,31,56))
);
    -webkit-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    -moz-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    -o-box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
    box-shadow: inset 0px 1px 0px #a24d73, 0px 1px 0px 0px #381323;
}
.owl-carousel .banner-item .content_slider .buttons .custom_content {
	margin: 10px 0 0;
	text-align: center;
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.owl-height {
	transition: height 500ms ease-in-out;
}
.owl-theme .owl-controls {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: calc(-40px / 2) -8px 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.5);
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	top: 45%;
	width: 40px;
	height: 40px;
	text-indent: 100%;
	overflow: hidden;
}
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-] {
	background: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev {
	left: 15px;
}
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev {
	left: -55px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:before {
	position: absolute;
	top: 26px;
	left: 8px;
	z-index: 1;
	width: 20px;
	height: 1px;
	content: "";
	border-top: 2px solid #571f38;
	transform: rotate(40deg);
	border-radius: 20px;
	text-indent: 0;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:after {
	position: absolute;
	top: 14px;
	left: 8px;
	z-index: 1;
	width: 20px;
	height: 1px;
	content: "";
	border-top: 2px solid #571f38;
	transform: rotate(-40deg);
	border-radius: 20px;
	text-indent: 0;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next {
	right: 15px;
}
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-].owl-next {
	right: -55px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:before {
	position: absolute;
	top: 14px;
	right: 8px;
	z-index: 1;
	width: 20px;
	height: 1px;
	content: "";
	border-top: 2px solid #571f38;
	transform: rotate(40deg);
	border-radius: 20px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:after {
	position: absolute;
	top: 26px;
	right: 8px;
	z-index: 1;
	width: 20px;
	height: 1px;
	content: "";
	border-top: 2px solid #571f38;
	transform: rotate(-40deg);
	border-radius: 20px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: #571f38;
	color: #fff;
	text-decoration: none;
}
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background: transparent;
	color: #571f38;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
	border-color: #fff;
}
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before,
[class*=owl-carousel-products-].owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
	border-color: #571f38;
}
.owl-theme .owl-controls .owl-nav .disabled {
	opacity: .5;
	cursor: default;
}
.owl-theme .owl-dots {
	position: absolute;
	width: 100%;
}
[class*=owl-carousel-products-].owl-theme .owl-dots {
	position: relative;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 8px;
}
.owl-theme .owl-dots .owl-dot span {
	border-radius: 6px;
	border: 1px solid #571f38;
	display: block;
	height: 4px;
	position: relative;
	width: 4px;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;  
  }
.owl-theme .owl-dots .owl-dot:hover span {
	background: #571f38;
}
.owl-theme .owl-dots .owl-dot.active span {
	background: #571f38;
}
.no-js .owl-carousel {
	display: block;
}
#pre-div-ajax{
	position: relative;
	top: 80px
}
#pre-div {
	background-color: #fff;
	bottom: 0;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
}
.cssload-loader {
	position: absolute;
	left: calc(50% - 31px);
	top: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid rgb(0,0,0);
}







@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
